body {
  background-color: #dcd6f7;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: Grey;
  border-width: 10px;
  width: 15%;
}

h1 {
  color: #5b5656;
}

h3 {
  color: #5b5656;
}
